<style>
a:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
</style>

<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs navbar-dark bg-dark">
  <li class="navbar-brand"> School Reports</li>
  <li [ngbNavItem]="1">
    <a ngbNavLink>Pie Chart</a>
    <ng-template ngbNavContent>
      <app-pie-chart></app-pie-chart>
      
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>Bar Chart</a>
    <ng-template ngbNavContent>
    <app-bar-chart></app-bar-chart>
    </ng-template>
  </li>
  
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

<router-outlet></router-outlet>
